db: # 数据库配置
  host: localhost # 数据库地址
  port: "5432"   # 数据库端口
  name: database # 数据库名
  user: username    # 数据库用户名
  password: password # 数据库密码

email:
email_name: xxxx@163.com
email_password: # 应用密码
base_url: # ngrok http后提供的url
# 使用ngrok暴露内网（测试环境）
# ngrok http --url=你的静态域 8080
# ngrok http http://localhost:8080

smtp_server:
  SMTPServer_host: smtp.163.com
  SMTPServer_port: 25